#chan {
  background-color: #ffe;
}

.post-container {
  background-color: bisque;
  padding: 10px;
  margin: 10px;
  padding-right: 40px;
  overflow: auto;
  display: block;
}

.post-content {
  padding-left: 10px;
}
